body{
    padding-top: 100px;
    padding-left: 700px;
    padding-right:850px;
    padding-bottom:100px;
}

h2{
    margin-bottom: 0px;
    padding-left: 40px;
}

p{
    background: #ff8e8e;
}

.p-checkbox{
    text-align: center;
    width:80px;
    margin-left: 50px;
}

input{
    text-align: center;
}
.btn-div{
    padding-left: 48px;
}
.btn-submit{
    background: #ff7373;
    border: 2px solid rgba(15, 72, 84, 0.27);
    border-radius: 20px;
    font-size:14px;
}