body{
    padding-top: 100px;
    padding-left: 600px;
    padding-right:600px;
    padding-bottom:100px;
}

h1{
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 0px;
}

table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}
th {
    font-weight: bold;
    /*text-align: left;*/
    border: none;
    padding: 10px 15px;
    background: #ff7373;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
td {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #ff7373; /* Граница вокруг ячеек */
}

.btns-all-menu{
    color: rgb(23, 6, 6) !important;
    font-weight: bold;
    text-decoration: none !important;
    display: inline-block;
    margin-left:auto;
    background: #ff7373;
    width:100px;
    margin:auto;
    text-decoration:none;
    font-size:14px;
    text-align: center;
    border: 2px solid rgba(15, 72, 84, 0.27);
    border-radius: 20px;
    padding-top: 2px;
    margin-bottom: 3px;
}

.message-head{
    border-top: 1px solid #ff7373;
}
.message{
    border-bottom: 1px solid #ff7373;
}

.inform{
    padding-top: 0px;
    color: #ff7373;
}
