body{
    padding-top: 100px;
    padding-left: 700px;
    padding-right:850px;
    padding-bottom:100px;
}

h2{
    margin-bottom: 0px;
}

a{
    color: rgb(23, 6, 6) !important;
    font-weight: bold;
    text-decoration: none !important;
    display: inline-block;
    margin-left:auto;
    background: #ff7373;
    width:100px;
    padding: 9px 17px;
    text-decoration:none;
    font-size:14px;
    text-align: center;
    border: 2px solid rgba(15, 72, 84, 0.27);
    border-radius: 20px;
}