<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki | All Characters</title>
    <link href="/all.css" rel="stylesheet">
</head>
<body>
    <h1>Characters</h1>
    <a href="/index" class="btns-all-menu">Main Menu</a>
    <a href="/character/add" class="btns-all-menu">Add Character</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>hp</th>
            <th>ms</th>
            <TH>as</TH>
            <th>pd</th>
            <th>md</th>
            <th>pa</th>
            <th>ma</th>
            <th>Class</th>
            <th>Skills</th>
            <th>Strong vs</th>
            <th>Weak vs</th>
            <th>Edit Hero</th>
            <th>Delete Hero</th>
        </tr>
        <tr th:each="characterVariable: ${characterList}">
            <td th:text="${characterVariable.getId()}"></td>
            <td th:text="${characterVariable.getName()}"></td>
            <td th:text="${characterVariable.getHealth()}"></td>
            <td th:text="${characterVariable.getMove_speed()}"></td>
            <td th:text="${characterVariable.getAttack_speed()}"></td>
            <td th:text="${characterVariable.physical_damage}"></td>
            <td th:text="${characterVariable.getMagic_damage()}"></td>
            <td th:text="${characterVariable.getPhysical_armor()}"></td>
            <td th:text="${characterVariable.getMagic_armor()}"></td>
            <td th:text="${characterVariable.getHero_class()}"></td>
            <td th:text="${characterVariable.getHero_skills()}"></td>
            <td th:text="${characterVariable.getStrong_vs()}"></td>
            <td th:text="${characterVariable.getWeak_vs()}"></td>

            <td>
                <a th:href="@{'/character/edit?id=' + ${characterVariable.getId()}}" >☑</a>
            </td>

            <td>
                <a th:href="@{'/character/delete?id=' + ${characterVariable.getId()}}">☒</a>
            </td>

        </tr>
    </table>
    <div>
        <h2 class="message-head">Last operation:</h2>
            <p class="message" th:text="${statusCharacter}"></p>
    </div>
    <p class="inform">Refresh the page if data are outdated</p>
</body>
</html>