<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki | All Classes</title>
    <link href="/all.css" rel="stylesheet">
</head>
<body>
    <h1>Classes</h1>
    <a href="/index" class="btns-all-menu">Main Menu</a>
    <a href="/class/add" class="btns-all-menu">Add Class</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Heroes with this class</th>
            <th>Edit Class</th>
            <th>Delete Class</th>
        </tr>
        <tr th:each="classVariable: ${classList}">
            <td th:text="${classVariable.getId()}"></td>
            <td th:text="${classVariable.getName()}"></td>
            <td th:text="${classVariable.getHeroes()}"></td>

            <td>
                <a th:href="@{'/class/edit?id=' + ${classVariable.getId()}}" >☑</a>
            </td>

            <td>
                <a th:href="@{'/class/delete?id=' + ${classVariable.getId()}}">☒</a>
            </td>

        </tr>
    </table>
    <div>
        <h2 class="message-head">Last operation:</h2>
            <p class="message" th:text="${statusClass}"></p>
    </div>
    <p class="inform">Refresh the page if data are outdated</p>
</body>
</html>