<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki | All Skills</title>
    <link href="/all.css" rel="stylesheet">
</head>
<body>
    <h1>Skills</h1>
    <a href="/index" class="btns-all-menu">Main Menu</a>
    <a href="/skill/add" class="btns-all-menu">Add Skill</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Effect</th>
            <th>Action time</th>
            <th>Cooldown</th>
            <th>Cost</th>
            <th>Passive</th>
            <th>Owner</th>
            <th>Edit Skill</th>
            <th>Delete Skill</th>
        </tr>
        <tr th:each="skillVariable: ${skillList}">
            <td th:text="${skillVariable.getId()}"></td>
            <td th:text="${skillVariable.getName()}"></td>
            <td th:text="${skillVariable.getEffect()}"></td>
            <td th:text="${skillVariable.getAction_time()}"></td>
            <td th:text="${skillVariable.getCooldown()}"></td>
            <td th:text="${skillVariable.getCost()}"></td>
            <td th:text="${skillVariable.getIs_passive()}"></td>
            <td th:text="${skillVariable.getOwner()}"></td>

            <td>
                <a th:href="@{'/skill/edit?id=' + ${skillVariable.getId()}}" >☑</a>
            </td>

            <td>
                <a th:href="@{'/skill/delete?id=' + ${skillVariable.getId()}}">☒</a>
            </td>

        </tr>
    </table>
    <div>
        <h2 class="message-head">Last operation:</h2>
            <p class="message" th:text="${statusSkill}"></p>
    </div>
    <p class="inform">Refresh the page if data are outdated</p>
</body>
</html>